Cython==0.25.2
Dialog==0.2.0
ipython==6.1.0
pyOpenSSL==17.0.0
blinker==1.4
com==1.0.0
cryptography==1.9
ed25519ll==0.6
protobuf==3.3.0
greenlet==0.4.12
ipaddr==2.1.11
java==0.0.1
jsonschema==2.6.0
keyring==10.3.3
lxml==3.8.0
python_memcached==1.58
mock==2.0.0
ndg_httpsclient==0.4.2
nt==0.0.0
numpy==1.13.0
org==1.0.0
pretty==0.1
pyasn1==0.2.3
pylibmc==1.5.2
pytest==3.1.2
redis==2.10.5
simplejson==3.11.1
termcolor==1.1.0
ujson==1.35
unittest2==1.1.0
uwsgi==2.0.15
watchdog==0.8.3
wincertstore==0.2
pyxdg==0.25
certifi==2017.4.17
chardet==3.0.4
click==6.7
docopt==0.6.2
Flask==0.12.2
future==0.16.0
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
requests==2.18.1
urllib3==1.21.1
Werkzeug==0.12.2
yarg==0.1.9
